body { margin: 0; padding: 0; background-color: #fff; }

A { color: #000; text-decoration: none; font-size: 12px; 
  font-family: verdana, sans-serif; letter-spacing: 0.2em; }

A:visited { color: #000; text-decoration: none; letter-spacing: 0.2em;	 
	  font-size: 12px; font-family: verdana, sans-serif; }

A:hover { color: #8f0000; text-decoration: none; letter-spacing: 0.2em;
        font-family: verdana, sans-serif; }

div,figure,nav,figcaption,footer { text-align: center; 
	font-family:verdana, sans-serif; 
	font-size: 12px;}

#hold {
-moz-box-shadow: -3px 3px 20px  #0a0a0a;
-webkit-box-shadow: -3px 3px 20px  #0a0a0a;
box-shadow: -3px 3px 20px  #0a0a0a;
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=240 Color='#0a0a0a')";
}

#date { padding-top: 6px; letter-spacing: 2px; cursor: crosshair; }
span.slsh { color: rgb(153,153,51) }
span.rslsh { color: #cf0000 }
/*

#logo { margin-bottom: 10px; }
#link { margin-top: 35px; }
#font { font-family: verdana, sans-serif; letter-spacing: 2px; font-size: 11px}
#ten  { margin: 10px }
#left { text-align: left }
#bday { color: red; font-size: 13px; padding-top: 6px; letter-spacing: 0.2em; }
div.caption {font-size: 11px; padding: 4px; 
            font-family: verdana, helvetica, sans-serif; letter-spacing: 2px;}

#foot   { 
    font-family: "Andale Mono",monospace, sans-serif;
    padding: 10px;
    text-align:center;
    position:absolute; top:320px; left:40px;  
    font-size: 16px; letter-spacing: 0.3em; 
   
}
*/
