/*
New stylesheet for Bee & Bee
December 2009, April 2011 (for html5)
*/

#logo:hover{
-webkit-transition-duration: 2s;
-webkit-transition-timing-function: ease-in-out;
-webkit-transition-delay: 0;
-webkit-transform: rotate(360deg);

-o-transition-duration: 2s;
-o-transition-timing-function: ease-in-out;
-o-transition-delay: 0;
-o-transform: rotate(360deg);

-moz-transition-duration: 2s;
-moz-transition-timing-function: ease-in-out;
-moz-transition-delay: 0;
-moz-transform: rotate(360deg);

}

html, body, article, footer, nav, p, div,img 
{margin:0; padding:0; border:0; display:block;}

html>body {
    font-size: 12px; }
/* current font-size is 12px or 1em */

	
/*
hyperlinks
*/

A         { color: #ffffff; text-decoration: none; font-size: 1em; 
            font-family: Arial, FreeSans, "Nimbus Sans L", sans-serif; letter-spacing: 0.2em; }

A.email   { color: #a4150f; font-size:1.2em; line-height:140%; }



A:visited { color: #ffffff; text-decoration: none; letter-spacing: 0.2em;	 
	    font-size: 1em; font-family: Arial, FreeSans, "Nimbus Sans L", sans-serif; }

A:hover   { color: #a4150f; text-decoration: none; letter-spacing: 0.2em;
            font-weight:bold; font-family: Arial, FreeSans, "Nimbus Sans L", sans-serif; }


article {
position:absolute; left:200px; top:205px; 
width:350px;
font-family:"Times New Roman", FreeSerif;
font-size:1em;

}

p {  
padding: 4px 0 4px 4px; /*top right bottom left*/
line-height:1.3em;
}



footer  {position:absolute; left:200px; top:660px; 
          font-family:Arial, FreeSans, "Nimbus Sans L", sans-serif; font-size:.8333em; font-weight:bold; }

/* note that Opera doesn't like anything to come after the footer */

.rooms  { color:#a4150f; font-size:1.1666em; font-weight:bold }
.first  { font-size:14px; }
.letter { color:#afaf17; font-size:1.5em; font-weight:bold; letter-spacing:0.1em}
.rates  { color:#000066; padding-left:1.5em;}
.indent { padding-left:18px; }

/* 
image positions
*/
#logo   { position:absolute; left:232px; top:20px }
#welsh  { position:absolute; left:455px; top:70px; z-index:99 }
#bw     { position:absolute; left:575px; top:60px }
#arch   { position:absolute; left:580px; top:220px }
#green  { position:absolute; left:650px; top:330px; z-index:99 }
#cakes  { position:absolute; left:580px; top:470px }
#bouq   { position:absolute; left:580px; top:608px }
#text   { position:absolute; left:200px; top:620px; padding-top:8px; }
#textFr { position:absolute; left:200px; top:620px; padding-top:8px; }
#confort{ position:absolute; left:200px; top:722px; }

/*
navigation
*/
#bar { position:absolute; left:92px; top:392px; 
       width:100px; height:200px;
       text-align:left;
       line-height:30px; }
#barBack { position:absolute; left:80px; top:218px;
          background-color:#afaf17;
          width:100px; height:534px; }
